/build/
/install/
/log/

/clearpath/platform/
/clearpath/sensors/
/clearpath/manipulators/
/clearpath/robot.srdf
/clearpath/robot.srdf.xacro
/clearpath/robot.urdf.xacro

/frames_*.gv
/frames_*.pdf
/maps/
__pycache__/
